version: '3.3'
services:
  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      # So you don't have to use root, but you can if you like
      MYSQL_USER: 'user'
      # You can use whatever password you like
      MYSQL_PASSWORD: 'teste'
      # Password for root access
      MYSQL_ROOT_PASSWORD: 'teste'
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - '3306:3306'
    expose:
      # Opens port 3306 on the container
      - '3306'
      # Where our data will be persisted
    volumes:
      - my-db:/var/lib/mysql
  pyspark:
    image: "jupyter/pyspark-notebook"
    volumes:
      - ../:/home/jovyan
    ports:
      - 8888:8888
    links:
      - db
      - db:database
# Names our volume
volumes:
  my-db: